{% extends "base.html" %}
{% load static %} 

{% block content %}
<div class="container ">
<h5 class="text text-center my-4" style="color:rgb(29, 79, 92)">ABOUT US PAGE</h5>
<div class="row aboutus">
<img src="C:\Users\twink\artgallery\twinkyproject\media\artlogo.png" alt="">
</div>
<div class="row">
<div class="container">
<div class="row">
<p class="text">
Art Exposure was founded to commemorate the memory of Late Artist Kalyan Kumar Bose by his daughter Mrs. Uma Mitra.
</p>
<p class="text">
There is no dearth of talented artists in our contemporary times who are deeply rooted to their culture and Art Exposure focuses on showcasing their works.
</p>
<p class="text">
Designed to evolve over time, Art Exposure hosts multiple curated exhibitions to showcase new talent as well as eminent masters of regional, national and international repute.	</p>
{% endblock %}