{% extends "base.html" %}
{% load static %} 

{% block content %}
    <div class="container">
        <!-- About Us Section -->
        <div class="section">
            <h2>About Us</h2>
            <p>Welcome to Art Gallery, your gateway to the world of contemporary art. Since our inception in 2024, we have been dedicated to curating a diverse and thought-provoking collection that highlights both emerging talents and established artists. Our online platform offers an immersive experience, allowing art enthusiasts and collectors from around the globe to explore our exhibitions, discover new works, and engage with the artists who create them.</p>
            <p>At Art Gallery, we believe in art's power to inspire, challenge, and unite. Through our carefully curated collections, virtual tours, and educational resources, we strive to make art accessible and meaningful to everyone. Explore our website to delve into the dynamic world of contemporary art and join us in celebrating creativity in all its forms.</p>
        </div>

        <!-- Our Mission Section -->
        <div class="section">
            <h2>Our Mission</h2>
            <p>Our mission is to foster a deeper appreciation for contemporary art by providing a platform that showcases innovative and influential works. We aim to create an inclusive community where art lovers can connect with artists and each other, and where every visit to our gallery, whether virtual or physical, inspires a lasting connection with the art world.</p>
        </div>

        <!-- Contact Us Section -->
        <div class="section">
            <h2>Contact Us</h2>
            <p>If you have any questions or would like to learn more about our exhibitions, please reach out to us:</p>
            <p>Email: <a href="artgalleryproject2024@gmail.com">artgalleryproject2024@gmail.com</a></p>
            <p>Phone: +91 8121440661</p>
        </div>
    </div>
    {% endblock %}