{% extends "base.html" %}
{% load static %} 

{% block content %}

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 900px;">
        <p class="signup">Sign Up Here</p>
        <div class="row">
            <div class="col-lg-7">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="submit-container mt-4">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
